<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.im.mapper.ActivityCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.im.entity.ActivityComment">
        <id column="id" property="id" />
        <result column="activity_id" property="activityId" />
        <result column="user_id" property="userId" />
        <result column="parent_id" property="parentId" />
        <result column="comment_id" property="commentId" />
        <result column="praise_times" property="praiseTimes" />
        <result column="content" property="content" />
        <result column="ts_create" property="tsCreate" />
        <result column="ts_pin" property="tsPin" />
        <result column="ts_delete" property="tsDelete" />
        <association property="user" javaType="org.jeecg.modules.im.entity.User">
            <id column="user_id" property="id"/>
            <result column="user_nickname" property="nickname"/>
            <result column="user_account" property="account"/>
            <result column="user_small_avatar" property="smallAvatar"/>
        </association>
        <association property="parent" javaType="org.jeecg.modules.im.entity.ActivityComment">
            <id column="p_id" property="id" />
            <result column="p_activity_id" property="activityId" />
            <result column="p_user_id" property="userId" />
            <result column="p_parent_id" property="parentId" />
            <result column="p_comment_id" property="commentId" />
            <result column="p_praise_times" property="praiseTimes" />
            <result column="p_content" property="content" />
            <result column="p_ts_create" property="tsCreate" />
            <result column="p_ts_pin" property="tsPin" />
            <result column="p_ts_delete" property="tsDelete" />
            <association property="user" javaType="org.jeecg.modules.im.entity.User">
                <id column="p_user_id" property="id"/>
                <result column="p_user_nickname" property="nickname"/>
                <result column="p_user_account" property="account"/>
                <result column="p_user_small_avatar" property="smallAvatar"/>
            </association>
        </association>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, activity_id, user_id, parent_id, comment_id, praise_times, content, ts_create, ts_pin, ts_delete
    </sql>

    <select id="pagination" resultMap="BaseResultMap">
        SELECT a.id,a.ts_create,<include refid="Base_Column_List" />,
        u.id u_id,u.nickname u_nickname,u.account u_account,u.small_avatar u_small_avatar
        from im_activity_comment a
        left join im_user u on u.id = a.user_id
        <where>
            <choose>
                <when test="q.isDelete!=null and q.isDelete==true">
                    ts_delete >0
                </when>
                <otherwise>
                    (ts_delete = 0)
                </otherwise>
            </choose>
            <if test="q.userSearch!=null and q.userSearch!=''">
                and(u.nickname like concat('%',#{q.userSearch},'%') or u.account like concat('%',#{q.userSearch},'%') or u.username like concat('%',#{q.userSearch},'%') or u.mobile like concat('%',#{q.userSearch},'%'))
            </if>
            <if test="q.userId!=null and q.userId!=''">
                and user_id=#{q.userId}
            </if>
            <if test="q.ts_create!=null">
                and a.ts_create &lt;= UNIX_TIMESTAMP(#{q.ts_create})*1000
            </if>
        </where>
        <if test="q.column !=null and q.column!='' and q.order!=null and q.order!=''">
            order by ${q.column} ${q.order}
        </if>
    </select>

    <select id="findByCommentId" resultMap="BaseResultMap">
        select * from im_activity_comment where comment_id = #{commentId} order by ts_pin desc,ts_create asc where ts_delete = 0
    </select>
</mapper>
