<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.im.mapper.CallRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.im.entity.CallRecord">
        <id column="id" property="id" />
        <result column="from_id" property="fromId" />
        <result column="to_id" property="toId" />
        <result column="channel_id" property="channelId" />
        <result column="is_video" property="isVideo" />
        <result column="status" property="status" />
        <result column="ts_create" property="tsCreate" />
        <result column="ts_timeout" property="tsTimeout" />
        <result column="ts_accept" property="tsAccept" />
        <result column="ts_cancel" property="tsCancel" />
        <result column="ts_reject" property="tsReject" />
        <result column="ts_suspend" property="tsSuspend" />
        <result column="ts_end" property="tsEnd" />
        <result column="seconds" property="seconds" />
        <association property="fromUser" javaType="org.jeecg.modules.im.entity.User">
            <id column="fromUser_id" property="id"/>
            <result column="fromUser_nickname" property="nickname"/>
            <result column="fromUser_account" property="account"/>
            <result column="fromUser_small_avatar" property="smallAvatar"/>
        </association>
        <association property="toUser" javaType="org.jeecg.modules.im.entity.User">
            <id column="toUser_id" property="id"/>
            <result column="toUser_nickname" property="nickname"/>
            <result column="toUser_account" property="account"/>
            <result column="toUser_small_avatar" property="smallAvatar"/>
        </association>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, from_id, to_id,channel_id, is_video,status, ts_create, ts_timeout,ts_accept, ts_cancel, ts_reject, ts_suspend, ts_end, seconds
    </sql>

    <select id="pagination" resultMap="BaseResultMap">
        SELECT cr.id, status,is_video,channel_id, cr.ts_create, ts_accept, ts_timeout,ts_cancel, ts_reject, ts_suspend, ts_end, seconds,
        from_user.id fromUser_id,from_user.nickname fromUser_nickname,from_user.account fromUser_account,from_user.small_avatar fromUser_small_avatar,
        to_user.id toUser_id,to_user.nickname toUser_nickname,to_user.account toUser_account,to_user.small_avatar toUser_small_avatar
        from im_call_record cr
        left join im_user from_user on from_user.id = cr.from_id
        left join im_user to_user on to_user.id = cr.to_id
        <where>1=1
            <if test="q.sender!=null and q.sender !=''">
                and (from_user.account = #{q.sender} or from_user.mobile = #{q.sender} or from_user.username = #{q.sender} or from_user.nickname like concat("%",#{q.sender},"%") or from_user.id = #{q.sender})
            </if>
            <if test="q.receiver!=null and q.receiver !=''">
                and (to_user.account = #{q.receiver} or to_user.mobile = #{q.receiver} or to_user.username = #{q.receiver} or to_user.nickname like concat("%",#{q.receiver},"%") or to_user.id = #{q.receiver})
            </if>
            <if test="q.ts_create!=null">
                and ts_create &lt;= UNIX_TIMESTAMP(#{q.ts_create})*1000
            </if>
            <if test="q.status!=null">
                and status = #{status}
            </if>
        </where>
        <if test="q.column !=null and q.column!='' and q.order!=null and q.order!=''">
            order by ${q.column} ${q.order}
        </if>
    </select>
    <select id="findAll" resultMap="BaseResultMap">
        SELECT id, status, channel_id,is_video,from_id,to_id,ts_create,ts_timeout, ts_accept, ts_cancel, ts_reject, ts_suspend, ts_end, seconds
        from im_call_record
        <where>
            from_id = #{userId} or to_id = #{userId}
        </where>
        order by ts_create desc
    </select>

</mapper>
