<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.im.mapper.SecretQuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.im.entity.SecretQuestion">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="content" property="content" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, content
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select * from im_secret_question order by order_no desc
    </select>


    <select id="pagination" resultMap="BaseResultMap">
        select * from im_secret_question
        <where>
        1=1
            <if test="q.content!=null and q.content !=''">
                and content like concat("%",#{q.content},"%")
            </if>
        </where>
        group by id
        <if test="q.column !=null and q.column!='' and q.order!=null and q.order!=''">
            order by ${q.column} ${q.order}
        </if>
    </select>

</mapper>
