<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.im.mapper.SecretAnswerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.im.entity.SecretAnswer">
        <id column="id" property="id"/>
        <result column="question" property="question"/>
        <result column="answer" property="answer"/>
        <result column="user_id" property="userId"/>
        <result column="ts_create" property="tsCreate"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, question, answer, user_id, ts_create
    </sql>

    <select id="pagination" resultMap="BaseResultMap">
        select * from im_secret_answer
        <where>
            user_id = #{q.userId}
            <if test="q.ts_create!=null">
                and ts_create &lt;= UNIX_TIMESTAMP(#{q.ts_create})*1000
            </if>
        </where>
        <if test="q.column !=null and q.column!='' and q.order!=null and q.order!=''">
            order by ${q.column} ${q.order}
        </if>
    </select>

</mapper>
