<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.im.mapper.UserLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.im.entity.UserLog">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="ip" property="ip"/>
        <result column="ip_info" property="ipInfo"/>
        <result column="device_id" property="deviceId"/>
        <result column="device_platform" property="devicePlatform"/>
        <result column="device_name" property="deviceName"/>
        <result column="device_no" property="deviceNo"/>
        <result column="device_sys_ver" property="deviceSysVer"/>
        <result column="device_client_ver" property="deviceClientVer"/>
        <result column="type" property="type"/>
        <result column="detail" property="detail"/>
        <result column="module" property="module"/>
        <result column="uri" property="uri"/>
        <result column="method" property="method"/>
        <result column="req_param" property="reqParam"/>
        <result column="res_data" property="resData"/>
        <result column="ts_create" property="tsCreate"/>
        <association property="user" javaType="org.jeecg.modules.im.entity.User">
            <result column="u_id" property="id"/>
            <result column="u_nickname" property="nickname"/>
            <result column="u_account" property="account"/>
            <result column="u_small_avatar" property="smallAvatar"/>
            <result column="u_is_online" property="isOnline"/>
            <result column="u_ts_create" property="tsCreate"/>
            <association property="info" javaType="org.jeecg.modules.im.entity.UserInfo">
                <id column="i_id" property="id" />
                <result column="i_province" property="province" />
                <result column="i_city" property="city" />
                <result column="i_district" property="district" />
                <result column="i_country" property="country" />
                <result column="i_gender" property="gender" />
            </association>
        </association>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ip, ip_info,device_id,device_platform, device_name, device_no, device_sys_ver, device_client_ver,detail,module, uri,method,req_param,res_data
    </sql>
    <select id="pagination" resultMap="BaseResultMap">
        SELECT l.id,l.user_id,l.type,l.ts_create,<include refid="Base_Column_List"/>,
        u.is_online u_is_online,u.ts_create u_ts_create,
        i.id i_id,i.province i_province,i.city i_city,i.country i_country,i.district i_district,i.gender i_gender
        from im_user_log l
        left join im_user u on u.id = l.user_id
        left join im_user_info i on i.user_id = u.id
        <where>
            1=1
            <if test="q.userSearch!=null and q.userSearch!=''">
                and(u.nickname like concat('%',#{q.userSearch},'%') or u.account like concat('%',#{q.userSearch},'%') or u.username like concat('%',#{q.userSearch},'%') or u.mobile like concat('%',#{q.userSearch},'%'))
            </if>
            <if test="q.ip!=null and q.ip!=''">
                and ip=#{q.ip}
            </if>
            <if test="q.module!=null and q.module!=''">
                and module=#{q.module}
            </if>
            <if test="q.type!=null and q.type!=''">
                and type=#{q.type}
            </if>
            <if test="q.userId!=null and q.userId!=''">
                and user_id=#{q.userId}
            </if>
            <if test="q.deviceId!=null and q.deviceId!=''">
                and device_id=#{q.deviceId}
            </if>
            <if test="q.devicePlatform!=null and q.devicePlatform!=''">
                and device_platform=#{q.devicePlatform}
            </if>
            <if test="q.deviceName!=null and q.deviceName!=''">
                and device_name=#{q.deviceName}
            </if>
            <if test="q.deviceNo!=null and q.deviceNo!=''">
                and device_no=#{q.deviceNo}
            </if>
            <if test="q.deviceSysVer!=null and q.deviceSysVer!=''">
                and device_sys_ver=#{q.deviceSysVer}
            </if>
            <if test="q.deviceClientVer!=null and q.deviceClientVer!=''">
                and device_client_ver=#{q.deviceClientVer}
            </if>
            <if test="q.ts_create!=null">
                and l.ts_create &lt;= UNIX_TIMESTAMP(#{q.ts_create})*1000
            </if>
        </where>
        <if test="q.column !=null and q.column!='' and q.order!=null and q.order!=''">
            order by ${q.column} ${q.order}
        </if>
    </select>
</mapper>
