<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.im.mapper.VoteItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.im.entity.VoteItem">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="vote_id" property="voteId" />
        <result column="is_correct" property="isCorrect" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content, vote_id, is_correct
    </sql>

</mapper>
