<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.dataReport.mapper.ContainerTatisticsMapper">

    <select id="getContainerTatistics" resultType="org.jeecg.modules.dataReport.entity.ContainerTatistics">


        SELECT
        t1.order_id,
        t1.bl_no AS blNo,
        t1.customs_release_date AS customs_release_date,
        t.container_no AS containerNo,
        t.container_spec,
        t.container_size,
        (
        SELECT
        tt2.chinese_name
        FROM
        base_customer tt2
        WHERE
        t1.shipowner_id = tt2.customer_id
        ) AS shipowner,
        (
        SELECT
        tt1.station_name
        FROM
        base_station tt1
        WHERE
        tt1.station_id = t.take_container_address
        ) AS takeContainerAddress,
        (
        SELECT
        tt1.station_name
        FROM
        base_station tt1
        WHERE
        tt1.station_id = t.drag_container_address
        ) AS dragContainerAddress,
        (
        SELECT
        tt1.station_name
        FROM
        base_station tt1
        WHERE
        tt1.station_id = t.return_container_address
        ) AS returnContainerAddress,
        t.detail_address AS detailAddress,
        t.order_remark AS orderRemark,
        t1.business_type AS business_type,
        CASE
        WHEN t.take_back = 1 THEN
        1
        ELSE
        2
        END AS take_back,
        t2.mt_passdate,
        t2.outdepotname_cn,
        t.ie_date,
        t2.mt_outdate,
        t2.mt_indate,
        t2.indepotname_cn,
        t2.dc_indate,
        t2.dc_outdate
        FROM
        order_container_info t
        LEFT JOIN order_info t1 ON t.order_id = t1.order_id
        LEFT JOIN eport_message_eir_info t2 ON t.container_no = t2.cntrno
        AND t1.bl_no = t2.bill_no
        WHERE
        t1.is_valid = 1
        AND t.is_valid = 1


        <choose>
            <when test="ew.emptyOfWhere == true ">

                ${ew.sqlSegment}
            </when>
            <otherwise>
                AND
                ${ew.sqlSegment}
            </otherwise>
        </choose>


    </select>
</mapper>
