<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.wo.order.mapper.WoOrderDetailMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  wo_order_detail 
		WHERE
			 order_id = #{id} 		
	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.wo.order.entity.WoOrderDetail">
		SELECT * 
		FROM  wo_order_detail
		WHERE
			 order_id = #{id} 		
	</select>
</mapper>
