<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.ArticleMapper">

    <!-- 关联查询sql -->
    <sql id="relSelect">
        SELECT a.*
        FROM sys_article a
        <where>
            <if test="page!=null and page.pageData!=null">
                <if test="page.pageData.id != null">
                    AND a.id = #{page.pageData.id}
                </if>
                <if test="page.pageData.title != null">
                    AND a.title LIKE CONCAT('%', #{page.pageData.title}, '%')
                </if>
                <if test="page.pageData.excerpt != null">
                    AND a.excerpt LIKE CONCAT('%', #{page.pageData.excerpt}, '%')
                </if>
                <if test="page.pageData.content != null">
                    AND a.content LIKE CONCAT('%', #{page.pageData.content}, '%')
                </if>
                <if test="page.pageData.likes != null">
                    AND a.likes = #{page.pageData.likes}
                </if>
                <if test="page.pageData.seeNumber != null">
                    AND a.see_number = #{page.pageData.seeNumber}
                </if>
                <if test="page.pageData.createTimeStart!=null">
                    AND a.create_time &gt;= #{page.pageData.createTimeStart}
                </if>
                <if test="page.pageData.createTimeEnd!=null">
                    AND a.create_time &lt;= #{page.pageData.createTimeEnd}
                </if>
                <if test="page.pageData.userId != null">
                    AND a.user_id = #{page.pageData.userId}
                </if>
                <if test="page.pageData.picture != null">
                    AND a.picture LIKE CONCAT('%', #{page.pageData.picture}, '%')
                </if>
                <if test="page.pageData.enabled != null">
                    AND a.enabled = #{page.pageData.enabled}
                </if>
            </if>
        </where>
    </sql>

    <!-- 分页查询 -->
    <select id="listPage" resultType="com.shop.entity.Article">
        <include refid="relSelect"></include>
    </select>

    <!-- 查询全部 -->
    <select id="listAll" resultType="com.shop.entity.Article">
        <include refid="relSelect"></include>
    </select>

</mapper>
