body {
    /*background-image: url("../images/bg-login.jpg");*/
    background-image: url("https://www.dmoe.cc/random.php");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

body:before {
    content: "";
    background-color: rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.login-wrapper {
    max-width: 420px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    z-index: 2;
}

.login-wrapper > .layui-form {
    padding: 25px 30px;
    background-color: #fffd;
    box-shadow: 0 1px 1px -2px rgb(0 0 0 / 19%);
    box-sizing: border-box;
    border-radius: 5px;
}

.login-wrapper > .layui-form > h2 {
    color: #333;
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
}

.login-wrapper > .layui-form > .layui-form-item {
    margin-bottom: 25px;
    position: relative;
}

.login-wrapper > .layui-form > .layui-form-item:last-child {
    margin-bottom: 0;
}

.login-wrapper > .layui-form > .layui-form-item > .layui-input {
    height: 46px;
    line-height: 46px;
    border-radius: 2px !important;
}

.login-wrapper .layui-input-icon-group > .layui-input {
    padding-left: 46px;
}

.login-wrapper .layui-input-icon-group > .layui-icon {
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 20px;
    color: #909399;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}

.login-wrapper > .layui-form > .layui-form-item.login-captcha-group {
    padding-right: 135px;
}

.login-wrapper > .layui-form > .layui-form-item.login-captcha-group > .login-captcha {
    height: 46px;
    width: 120px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-radius: 2px !important;
    position: absolute;
    right: 0;
    top: 0;
}

.login-wrapper > .layui-form > .layui-form-item > .layui-form-checkbox {
    margin: 0 !important;
    padding-left: 25px;
}

.login-wrapper > .layui-form > .layui-form-item > .layui-form-checkbox > .layui-icon {
    width: 15px !important;
    height: 15px !important;
}

.login-wrapper > .layui-form .layui-btn-fluid {
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    border-radius: 2px !important;
}

.login-wrapper > .layui-form > .layui-form-item.login-oauth-group > a > .layui-icon {
    font-size: 26px;
}

.login-copyright {
    color: #eee;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}

@media screen and (min-height: 550px) {
    .login-wrapper {
        margin: -250px auto 0;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 100%;
    }

    .login-copyright {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

.layui-btn {
    background-color: #5FB878;
    border-color: #5FB878;
}

.layui-link {
    color: #5FB878 !important;
}
