<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.fms.reimburse.biz.mapper.ReimburseBizBaseDetailInfoMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  reimburse_biz_base_detail_info 
		WHERE
			 apply_no = #{mainId} 		
	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.fms.reimburse.biz.entity.ReimburseBizBaseDetailInfo">
		SELECT * 
		FROM  reimburse_biz_base_detail_info
		WHERE
			 apply_no = #{mainId} 
		ORDER BY seq		 
	</select>
	
	<select id="selectMaxSeqByApplyNo" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT max(seq) 
		FROM  reimburse_biz_base_detail_info
		WHERE
			 apply_no = #{applyNo} 
	</select>
</mapper>
