<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.CompanyQualificationMapper">
	<resultMap id="QualificationBaseInfo" type="org.jeecg.modules.business.vo.QualificationBaseInfo" >
		<result column="id" property="id" jdbcType="VARCHAR"/>
		<result column="type" property="type" jdbcType="VARCHAR"/>
		<result column="filepath" property="filepath" jdbcType="VARCHAR"/>
		<result column="filename" property="filename" jdbcType="VARCHAR"/>
	</resultMap>

    <select id="queryQualificationBaseInfo" parameterType="String"  resultMap="QualificationBaseInfo">
		select A.id,A.type,B.filepath,B.filename from company_qualification A inner join company_file B ON A.id = B.table_id
		where A.company_id = #{companyId}
		and B.from_table = 'company_qualification' and A.status = #{status}
	</select>


	<select id="queryDeleteQualification" parameterType="String"  resultMap="QualificationBaseInfo">
		select B.id,A.type,B.filepath,B.filename from company_qualification A inner join company_file B ON A.id = B.table_id
		where A.apply_delete_id = #{deleteId}
	</select>
	<select id="queryAddQualification" parameterType="String"  resultMap="QualificationBaseInfo">
		select B.id,A.type,B.filepath,B.filename from company_qualification A inner join company_file B ON A.id = B.table_id
		where A.apply_add_id = #{addId}
	</select>
</mapper>