<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>操作失败</title>
        <meta name="description" content="码支付·个人收款支付系统 无需签约 无需第三方SDK 完全免费">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .main{
                margin-top: 40px;
                text-align: center;
            }
            .text{
                margin-top: 10px;
            }
        </style>
    </head>

    <body>
        <div class="main">
            <img src="assets/images/fail.png" width="50">
            <div class="text">操作失败</div>
            <div class="text"><span th:text="${errorMsg}"></span></div>
        </div>
    </body>
</html>
