
<!DOCTYPE HTML>
<html>
<head>
	<title>码支付</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="favicon.png" />
	<link rel="bookmark" href="favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="layui/css/layui.css?t=0" media="all">
	<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body>
<div id="wrapper">

	<header id="header">
		<div class="logo">
			<span class="icon fa-rmb"></span>
		</div>
		<div class="content">
			<script src="https://v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
			<div class="inner">
				<h1>码支付</h1>
				<p>个人用户收款解决方案</p>
				<p id="hitokoto" style="font-size: small"><a href="#" id="hitokoto_text">&nbsp;</a></p>
			</div>
		</div>
		<nav>
			<ul>
				<li><a href="#login">登录</a></li>
				<li><a href="#regist">注册</a></li>
				<li><a href="/vmq/staticPay?username=mctz" target="_blank">支付体验</a></li>
				<li><a href="/shop" target="_blank">码商城</a></li>
				<li><a href="#about">简介</a></li>
			</ul>
		</nav>
	</header>

	<div id="main">

		<article id="login">
			<h2 class="major">登录</h2>
			<form method="post" action="javascript:login();">
				<div class="field half first">
					<label for="user">账号</label>
					<input type="text" name="user" id="user" value="guest" />
				</div>
				<div class="field half">
					<label for="pass">密码</label>
					<input type="password" name="pass" id="pass" value="guest#123"/>
				</div>

				<ul class="actions">
					<li><input id="login2" type="submit" value="登录" class="special" /></li>
					<li><input type="reset" value="清空" /></li>
				</ul>
			</form>
			<br>
			<div id="result" role="dialog">
				<p color class="h5 margin-top-sm text-black-hint" id="msg"></p>
			</div>
		</article>
		<article id="regist">
			<h2 class="major">注册</h2>
				<div style="display: flex">
					<label style="width: 150px;line-height: 40px;">邮箱</label>
					<input style="width: 250px;" type="email" name="email_r" id="email_r" />
				</div>
				<div style="display: flex">
					<label style="width: 150px;line-height: 40px;">账号</label>
					<input style="width: 250px;" type="text" name="username_r" id="username_r" />
				</div>
				<div style="display: flex">
					<label style="width: 150px;line-height: 40px;">密码</label>
					<input style="width: 250px;" type="password" name="password_r" id="password_r" />
				</div>
				<div style="display: flex">
					<label style="width: 150px;line-height: 40px;">验证码</label>
					<input style="width: 150px;" type="text" name="verificationCode" id="verificationCode" />
					<input type="submit" value="获取验证码" style="background-color: darkcyan;margin-left: 10px;padding: revert" onclick="getVerificationCode()"/>
				</div>
				<ul class="actions">
					<li><input id="regist2" type="submit" value="注册" class="special" onclick="regist()" /></li>
				</ul>
		</article>
		<article id="pay">
			<h3 class="major">创建订单</h3>
			<div style="display: flex">
				<label style="width: 150px;line-height: 40px;">商户编号：</label>
				<span style="width: 150px;line-height: 40px;letter-spacing: 0.1rem" id="payId" name="payId"></span>
				<input type="submit" value="生成订单号" style="background-color: darkcyan;margin-left: 10px;padding: revert" onclick="getOrderNo()"/>
			</div>

			<div style="display: flex">
				<label style="width: 150px;line-height: 40px;">订单金额：</label>
				<input style="width: 250px;" type="text" id="price" name="price" value="0.1" />
			</div>
			<div style="display: flex">
				<label style="width: 150px;line-height: 40px;">支付方式：</label>
				<select style="width: 250px" id="type" name="type" lay-verify="required" lay-filter="type">
					<option value="0" selected>聚合码</option><option value="1">微信</option><option value="2">支付宝</option>
					<option value="3">QQ</option><option value="4">微信赞赏码</option><option value="5">支付宝转账</option>
				</select>
			</div>
			<div style="display: flex">
				<label style="width: 150px;line-height: 40px;">通知邮箱：</label>
				<input style="width: 250px;" type="email" id="email" name="email" value="" />
			</div>
			<div style="display: flex">
				<label style="width: 150px;line-height: 40px;">返回类型：</label>
				<select style="width: 250px" id="isHtml" name="isHtml" lay-verify="required" lay-filter="isHtml">
					<option value="0">JSON</option><option value="1" selected>页面</option>
				</select>
			</div>
			<div style="display: flex">
				<label style="width: 150px;line-height: 40px;">自定义参数</label>
				<input style="width: 250px;" type="text" id="param" name="param" value="" />
			</div>
			<ul class="actions">
				<li><input type="submit" value="支付" class="special" style="background-color: forestgreen;margin-right: 50px" onclick="payOrder()" /></li>
			</ul>
		</article>

		<article id="about" style="line-height: 30px;">
			<h2 class="major">简介</h2>
			<p>一、码支付为个人用户提供免签约收款解决方案，支持微信、支付宝、微信赞赏码、QQ等支付渠道。资金直接到达本人账号，无费率问题。</p>
			<p>二、对于不懂编程的新手同学，仅需注册账号并上传个人收款码，即可轻松实现个人收款，可以自己安装监控端或使用免挂。对于具有一定动手能力或有其它需求的同学，可以自行对接系统API。</p>
			<p>三、产品优势：1、无需部署即可在线免费使用。2、有强大的后台管理和商城系统。</p>
			<p><a href="/shop" target="_blank" style="color: darkturquoise">码商城</a>个人商店，自动发货。更多功能请前往<a href="http://mctz.gnway.cc" target="_blank" style="color: darkturquoise">IT后台管理</a>查看</p>
			<p>请遵守相关法律法规，请勿用于非法用途。</p>
		</article>

	</div>

	<footer id="footer">
		<p>码支付Copyright &copy;2024 by 小码哥</p>
	</footer>

</div>

<div id="bg"></div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/function.js"></script>
<script src="assets/js/layer.js"></script>


<script>
	var payId;
	getOrderNo();
	function getOrderNo() {
		payId = new Date().getTime()
		$("#payId").html(payId);
	}

	function payOrder() {
		var param = $("#param").val();
		var type = $("#type").val();
		var price = $("#price").val();
		var isHtml = $("#isHtml").val();
		var email = $("#email").val();
		creatOrder(payId,param,type,price,isHtml,email);
	}

	function login() {
		$.post("loginValid","user="+$("#user").val()+"&pass="+$("#pass").val(),function (data) {
			layer.msg(data.msg);
			if (data.code==1){
				window.location.href = "menu";
			}
		});
	}

	function getVerificationCode() {
		var email = $("#email_r").val();
		if (email < 4 || email.indexOf("@") < 0) {
			layer.msg("邮箱格式不正确");
			return;
		}
		$.get("getVerificationCode","email="+email,function (data) {
			layer.msg(data.msg);
		});
	}

	function regist() {
		var email = $("#email_r").val();
		var name = $("#username_r").val();
		var pass = $("#password_r").val();
		var code = $("#verificationCode").val();
		if (email < 4 || email.indexOf("@") < 0) {
			layer.msg("邮箱格式不正确");
			return;
		}
		if (name.length < 4 || pass.length < 4) {
			layer.msg("用户名和密码长度均不能小于4位");
			return;
		}
		if (code=="") {
			layer.msg("验证码不能为空");
			return;
		}
		$.post("regist","email="+email+"&username="+name+"&password="+pass+"&code="+code,function (data) {
			layer.msg(data.msg);
			if (data.code==1){
				window.location.href = "login";
			}
		});
	}

</script>
</body>
</html>