

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta name="apple-mobile-web-app-capable" content="no"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="telephone=no,email=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>扫码支付</title>
    <link href="payPage/pay.css" rel="stylesheet" media="screen">
    <script src="assets/js/jquery.min.js"></script>
</head>

<body>
<div class="body" id="body" style="display: none">
    <h1 class="mod-title">
        <span class="ico_log ico-1" v-if="payType == 1 || payType == 3"></span>
        <span class="ico_log ico-2" v-if="payType == 2 || payType == 5"></span>
        <span class="ico_log ico-4" v-if="payType == 4"></span>
    </h1>

    <div class="mod-ct">
        <div class="order"></div>
        <div class="amount" id="timeOut" style="font-size: 20px;color: red;display: none;"><p>订单已过期，请您返回网站重新发起支付</p><br></div>
        <div id="orderbody">
            <div class="amount" id="money">￥{{ reallyPrice }}</div>
            <div class="qrcode-img-wrapper" data-role="qrPayImgWrapper">
                <div data-role="qrPayImg" class="qrcode-img-area">
                    <div class="ui-loading qrcode-loading" data-role="qrPayImgLoading" style="display: none;">加载中</div>
                    <div style="position: relative;display: inline-block;">
                        <!-- 收款码 -->
                        <div v-if="payType != 3 && payType != 5">
                            <a class="payHref">
                                <img alt="加载中..." :src="'enQrcode?url='+encodeURIComponent(payUrl)" width="240" height="240" style="display: block;">
                            </a>
                        </div>
                        <!-- 赞赏码 -->
                        <div v-if="payType == 3" style="width: 300px;height: 200px;overflow: hidden">
                            <img id="img_id" alt="加载中..." :src="payUrl" style="width: 400px;height: 400px;margin-top: -50px;margin-left: -50px;">
                        </div>
                        <!-- 支付宝转账 -->
                        <div v-if="payType == 5">
                            <a class="payHref">
                                <img class="PCPage" alt="加载中..." :src="'enQrcode?url='+encodeURIComponent(window.location.href)" width="240" height="240" style="display: none;">
                                <img class="APPPage MobilePage" alt="加载中..." :src="'enQrcode?url='+encodeURIComponent(payUrl)" width="240" height="240" style="display: none;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="time-item">
                <div class="time-item" id="msg">
                    <h1  v-if="price != reallyPrice || payType == 3">
                        <span style="color:red">为了您正常支付 请务必付款 {{ reallyPrice }} 元</span><br>
                    </h1>
                    <h1  v-if="payType == 3">
                        <span style="color:red">您可以通过选择<span style="color: dodgerblue;font-size: smaller;letter-spacing: 0">其他金额 </span>输入{{reallyPrice}}元</span><br>
                    </h1>
                </div>
                <strong id="hour_show">0时</strong><strong id="minute_show">0分</strong><strong id="second_show">0秒</strong>
            </div>

            <div class="tip">
                <div class="ico-scan"></div>
                <div class="tip-text">
                    <div class="PCPage" style="display: none">
                        <label  style="font-size: medium">请使用{{payName}}进行支付</label>
                    </div>
                    <div class="MobilePage" style="display: none">
                        <label  style="font-size: medium">请先保存图片，再使用{{payName}}进行支付</label>
                    </div>
                    <div class="APPPage" style="display: none">
                        <label  style="font-size: medium">请长按图片识别二维码</label>
                    </div>
                    <!--<p v-if="isAuto == 0">扫描二维码完成支付</p>
                    <p v-if="isAuto == 1">扫码后输入金额支付</p>-->
                </div>
            </div>

            <div class="detail" id="orderDetail">
                <dl class="detail-ct" id="desc" style="display: none;">
                    <dt>金额</dt>
                    <dd>{{price}}</dd>
                    <dt>商户订单：</dt>
                    <dd>{{payId}}</dd>
                    <dt>创建时间：</dt>
                    <dd>{{formatDate(date)}}</dd>
                    <dt>状态</dt>
                    <dd>等待支付</dd>
                </dl>

                <a href="javascript:void(0)" class="arrow" onclick="showOrderDetail()"><i class="ico-arrow"></i></a>
            </div>
        </div>
        <div class="tip-text"></div>
    </div>
    <div class="foot">
        <div class="inner"><p>码支付版权所有Copyright © 2024 by 小码哥</p></div>
    </div>

</div>
<div class="copyRight">

</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/vue.min.js"></script>
<script src="assets/js/function.js"></script>
<script>
    function showOrderDetail() {
        if ($('#orderDetail').hasClass('detail-open')) {
            $('#orderDetail .detail-ct').slideUp(500, function () {
                $('#orderDetail').removeClass('detail-open');
            });
        } else {
            $('#orderDetail .detail-ct').slideDown(500, function () {
                $('#orderDetail').addClass('detail-open');
            });
        }

    }
    var myTimer;
    function timer(intDiff) {
        var i = 0;
        i++;
        var day = 0,
            hour = 0,
            minute = 0,
            second = 0;//时间默认值
        if (intDiff > 0) {
            day = Math.floor(intDiff / (60 * 60 * 24));
            hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
            minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
            second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
        }
        if (minute <= 9) minute = '0' + minute;
        if (second <= 9) second = '0' + second;
        $('#hour_show').html('<s id="h"></s>' + hour + '时');
        $('#minute_show').html('<s></s>' + minute + '分');
        $('#second_show').html('<s></s>' + second + '秒');
        if (hour <= 0 && minute <= 0 && second <= 0) {
            qrcode_timeout()
            clearInterval(myTimer);

        }
        intDiff--;

        myTimer = window.setInterval(function () {
            i++;
            var day = 0,
                hour = 0,
                minute = 0,
                second = 0;//时间默认值
            if (intDiff > 0) {
                day = Math.floor(intDiff / (60 * 60 * 24));
                hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
            }
            if (minute <= 9) minute = '0' + minute;
            if (second <= 9) second = '0' + second;
            $('#hour_show').html('<s id="h"></s>' + hour + '时');
            $('#minute_show').html('<s></s>' + minute + '分');
            $('#second_show').html('<s></s>' + second + '秒');
            if (hour <= 0 && minute <= 0 && second <= 0) {
                qrcode_timeout()
                clearInterval(myTimer);

            }
            intDiff--;
        }, 1000);
    }

    function qrcode_timeout(){
        document.getElementById("orderbody").style.display = "none";
        document.getElementById("timeOut").style.display = "";
    }

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null)
            return decodeURI(r[2]);
        return null;
    }

    $.get("getOrder","orderId="+getQueryString("orderId"),function (data) {
        var time = 0;
        if (data.code == 1) {
            new Vue({
                el: '#body',
                data: data.data
            });
            if (data.data.state != -1) {
                time = new Date().getTime() - data.data.date;
                time = time / 1000;
                time = data.data.timeOut * 60 - time;
                check();
            }
            appOpenPayUrl(data.data.payType, data.data.payUrl);
            document.getElementById("body").style.display = "block";
        } else {
            alert(data.msg);
        }
        timer(time);
    });

    // app扫码后自动跳转支付链接，目前仅支付宝可以自动跳转
    function appOpenPayUrl(payType,payUrl) {
        if (payType == 1) {
            payUrl = "weixin://" + payUrl;
        } else if (payType == 5) {
            payUrl = "https://render.alipay.com/p/s/i?scheme="+encodeURIComponent(payUrl);
        }
        var userAgent = navigator.userAgent.toLowerCase();
        $(".APPPage").attr("style", "display:block;");
        if (userAgent.match(/Alipay/i) == "alipay") { // 支付宝
            window.open(payUrl, '_blank');
        } else if (userAgent.match(/MicroMessenger/i) == "micromessenger") { // 微信
            window.open(payUrl, '_blank');
        } else if (userAgent.match(/QQ/i) == "qq") { // qq
            window.open(payUrl, '_blank');
        } else if (/android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(userAgent)) { // 手机浏览器
            $(".APPPage").attr("style", "display:none;");
            $(".MobilePage").attr("style", "display:block;");
            $(".payHref").each(function () { // 点击图片唤起app
                this.href = payUrl;
                this.target = "_blank";
            });
        } else { // PC浏览器
            $(".APPPage").attr("style", "display:none;");
            $(".PCPage").attr("style", "display:block;");
        }
        return payUrl;
    }

    // 判断是否支付成功
    function check() {
        $.get("checkOrder","orderId="+getQueryString("orderId"),function (data) {
            if (data.code == 1) {
                window.location.href = data.data;
            } else{
                if (data.data == "订单已过期") {
                    intDiff = 0;
                }else{
                    setTimeout("check()",1500);
                }
            }
        });
    }

</script>
</body>
</html>