<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.ClientMapper">
<select id="getClientEntity" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT invoice_entity
    FROM client
        WHERE id = #{id}
</select>
<select id="getClientsEntity" parameterType="java.lang.String" resultType="java.util.Map">
    SELECT id, invoice_entity
    FROM client
        WHERE id IN
        <foreach collection="ids" separator="," open="(" close=")" index="index" item="id">
            #{id}
        </foreach>;
</select>
<select id="getClientByInternalCode" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT id
    FROM client
        WHERE internal_code = #{code}
</select>
</mapper>