<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.ClientMapper">
<select id="getClientEntity" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT invoice_entity
    FROM client
        WHERE id = #{id}
</select>
<select id="getClientsEntity" parameterType="java.lang.String" resultType="java.util.Map">
    SELECT id, invoice_entity
    FROM client
        WHERE id IN
        <foreach collection="ids" separator="," open="(" close=")" index="index" item="id">
            #{id}
        </foreach>;
</select>
<select id="getClientIdByCode" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT id
    FROM client
        WHERE internal_code = #{code}
</select>
<select id="getClientByCode" parameterType="java.lang.String" resultType="org.jeecg.modules.business.entity.Client">
    SELECT *
    FROM client
        WHERE internal_code = #{code}
</select>
    <select id="getActiveClientIdByCode" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT id
        FROM client
        WHERE internal_code = #{code} AND active = 1
    </select>
    <select id="getClientByType" resultType="org.jeecg.modules.business.entity.Client">
        SELECT c.*
        FROM client c
        JOIN client_category cc
            ON c.client_category_id = cc.id
        WHERE cc.name = #{type}
        AND c.active = 1;
    </select>
    <select id="getClientFromOrder" resultType="org.jeecg.modules.business.entity.Client">
        SELECT c.*
        FROM client c
        JOIN shop s
            ON c.id = s.owner_id
        JOIN platform_order po
            ON s.id = po.shop_id
        WHERE po.id = #{orderId};
    </select>
    <select id="getClientFromPurchase" resultType="org.jeecg.modules.business.entity.Client">
        SELECT c.*
        FROM client c
        JOIN purchase_order po
            ON c.id = po.client_id
        WHERE po.id = #{purchaseId};
    </select>
    <select id="getClientsFromPurchases" resultType="org.jeecg.modules.business.entity.Client">
        SELECT c.*
        FROM client c
        JOIN purchase_order po
            ON c.id = po.client_id
        WHERE po.id IN
        <foreach collection="purchaseIds" separator="," open="(" close=")" index="index" item="purchaseId">
            #{purchaseId}
        </foreach>;
    </select>
    <select id="getClientBySku" resultType="org.jeecg.modules.business.entity.Client">
        SELECT c.*
        FROM client c
            JOIN client_sku ON c.id = client_sku.client_id
        WHERE client_sku.sku_id = #{skuId};
    </select>
    <select id="getClientFromInvoice" resultType="org.jeecg.modules.business.entity.Client">
        SELECT DISTINCT c.*
        FROM client c
            JOIN shop s ON s.owner_id = c.id
            JOIN platform_order po ON po.shop_id = s.id
        WHERE po.shipping_invoice_number = #{invoiceNumber} OR po.purchase_invoice_number = #{invoiceNumber};

    </select>
    <update id="anonymizePersonalData">
        UPDATE client
        SET first_name = UUID_SHORT(),
            surname = UUID_SHORT(),
            email = CONCAT(UUID(), '@example.com'),
            phone = NULL,
            street_number = 0,
            street_name = UUID_SHORT(),
            additional_address = NULL,
            city = UUID_SHORT(),
            postcode = NULL,
            company_id_value = UUID_SHORT(),
            invoice_entity = UUID_SHORT(),
            ioss_number = NULL,
            internal_code = CONCAT(internal_code, UUID_SHORT())
        WHERE active = 0
        AND IF (update_time IS NOT NULL, update_time, create_time) &lt; DATE_SUB(NOW(), INTERVAL #{period} YEAR);
    </update>
    <select id="getByShopId" resultType="org.jeecg.modules.business.entity.Client">
        SELECT c.*
        FROM client c
            JOIN shop s ON c.id = s.owner_id
        WHERE s.id = #{shopId};
    </select>
    <select id="getClientFromCredit" resultType="org.jeecg.modules.business.entity.Client">
        SELECT c.*
        FROM client c
            JOIN credit ON c.id = credit.client_id
        WHERE credit.invoice_number = #{invoiceNumber};
    </select>
</mapper>