<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.ClientCategoryMapper">
<select id="getBalanceThresholdByCategoryId" resultType="java.math.BigDecimal">
    SELECT balance_threshold
    FROM client_category
    WHERE id = #{id}
</select>
    <select id="getClientCategoryByClientId" resultType="java.lang.String">
        SELECT name
        FROM client_category cc
        JOIN client c
            ON c.client_category_id = cc.id
        WHERE c.id = #{clientId};
    </select>
</mapper>