<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.CreditMapper">
    <select id="getLastCredit" resultType="org.jeecg.modules.business.entity.Credit">
        SELECT * FROM credit
        WHERE currency_id = #{currencyId}
        ORDER BY create_time DESC LIMIT 1;
    </select>
</mapper>