<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.FactureDetailMapper">
    <select id="getInvoiceDetailWithPurchaseFee" resultType="org.jeecg.modules.business.vo.FactureDetail">
        SELECT * FROM detail_de_facture_avec_frais_achat
        WHERE `N° de facture` = #{invoiceNumber}
    </select>

    <select id="selectByShopsAndPeriod" resultType="org.jeecg.modules.business.vo.FactureDetail">
        SELECT s.name                               AS 'Boutique',
        po.platform_order_id                        AS 'N° de Mabang',
        po.platform_order_number                    AS 'N° de commande',
        po.tracking_number                          AS 'N° de suivi',
        po.order_time                               AS 'Date de commande',
        po.shipping_time                            AS 'Date d\'expédition',
        po.recipient                                AS 'Nom de client',
        po.country                                  AS 'Pays',
        po.postcode                                 AS 'Code postal',
        JSON_ARRAYAGG(sku.erp_code)                 AS 'SKU',
        JSON_ARRAYAGG(sku.en_name)                  AS 'Nom produits',
        JSON_ARRAYAGG(poc.quantity)                 AS 'Quantité',
        COALESCE(SUM(
            CASE
                WHEN poc.purchase_fee = 0 THEN
                    poc.quantity * COALESCE(
                        (
                        SELECT sp.price
                        FROM sku_price sp
                        WHERE sp.sku_id = poc.sku_id
                        AND sp.date &lt;= po.order_time
                        ORDER BY sp.date DESC
                        LIMIT 1
                        ),
                        0
                        )
                ELSE poc.purchase_fee
            END
        ),0)                                                                  AS 'Frais d\'achat',
        COALESCE(po.fret_fee, 0)                                              AS 'Frais de FRET',
        COALESCE(SUM(poc.shipping_fee), 0)                                    AS 'Frais de livraison',
        COALESCE(po.order_service_fee, 0) + COALESCE(SUM(poc.service_fee), 0) AS 'Frais de service',
        COALESCE(po.picking_fee, 0) + COALESCE(SUM(poc.picking_fee), 0)       AS 'Frais de préparation',
        COALESCE(po.packaging_material_fee, 0)                                AS 'Frais de matériel d\'emballage',
        COALESCE(po.insurance_fee, 0.00)                                      AS 'Frais d\'assurance produits',
        COALESCE(SUM(poc.vat), 0)                                             AS 'TVA',
        po.shipping_invoice_number                                            AS 'N° de facture'
        FROM platform_order po
        JOIN shop s ON po.shop_id = s.id
        JOIN platform_order_content poc ON po.id = poc.platform_order_id
        JOIN sku ON poc.sku_id = sku.id
        WHERE shipping_invoice_number IS NOT NULL
        AND poc.erp_status &lt;&gt; 5
        AND po.order_time &gt; #{start}
        AND po.order_time &lt; #{end}
        and po.shop_id IN
        <foreach collection="shopIds" item="shopId" open="(" close=")" separator=",">
            #{shopId}
        </foreach>
        GROUP BY po.id, s.name, po.order_time
        ORDER BY s.name, po.order_time;
    </select>
</mapper>