<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.InvoiceMapper">
<select id="findEarliestInvoiceYear" resultType="java.lang.Integer">
    SELECT COALESCE(YEAR(MIN(ai.create_time)), YEAR(CURDATE()))
    FROM all_invoices ai
             JOIN currency c ON ai.currency_id = c.id
    WHERE ai.client_id = #{clientId}
      AND c.code = #{currency};
</select>
    <select id="getInvoiceAmounts" resultType="org.jeecg.modules.business.vo.InvoiceAmountDTO">
        SELECT
            COALESCE(p.final_amount, 0) AS purchaseAmount,
            COALESCE(s.final_amount, 0) AS shippingAmount
        FROM shipping_invoice s
                 LEFT JOIN purchase_order p ON p.invoice_number = s.invoice_number
        WHERE s.invoice_number = #{invoiceNumber}
        LIMIT 1
    </select>

</mapper>