<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.ProductMapper">
    <update id="updateWeightBatch">
        UPDATE product p
        SET p.update_time = NOW(),
        weight = case id
        <foreach collection="products" separator=" " open="" close="" index="index" item="item">
            when #{item.id} then #{item.weight}
        </foreach>
        end,
        update_by = case id
        <foreach collection="products" separator=" " open="" close="" index="index" item="item">
            when #{item.id} then #{item.updateBy}
        </foreach>
        end
        where id in
        <foreach collection="products" separator="," open="(" close=")" index="index" item="item">
            #{item.id}
        </foreach>
    </update>
    <select id="searchFirstEmptyWeightProduct" resultType="java.lang.String">
        SELECT p.id
        FROM product p
        JOIN sku
            ON p.id = sku.product_id
        WHERE p.weight IS NULL
        AND p.id IN (
            SELECT DISTINCT product_id
            FROM sku
            WHERE sku.id IN
            <foreach collection="skuIds" separator="," open="(" close=")" index="index" item="id">
                #{id}
            </foreach>
        )
        LIMIT 1;
    </select>
</mapper>