<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.PurchaseOrderMapper">
    <insert id="addPurchase">
        INSERT INTO purchase_order(id, create_by, create_time, update_by,
                                   update_time, client_id, currency_id, total_amount,
                                   discount_amount, final_amount, invoice_number)
        VALUES (#{ID}, #{creator}, NOW(), #{creator}, NOW(), #{clientID}, #{currencyID},
                #{totalAmount}, #{discount}, #{finalAmount},
                #{invoiceNumber});
    </insert>

    <update id="updatePaymentDocument">
        UPDATE purchase_order
        SET payment_document = #{fileName},
            status='proofUploaded'
        WHERE id = #{purchaseID}
    </update>
    <update id="confirmPayment">
        UPDATE purchase_order
        SET status = 'confirmed'
        WHERE id = #{purchaseID}
    </update>
    <update id="confirmPurchase">
        UPDATE purchase_order
        SET status = 'purchasing'
        WHERE id = #{purchaseID}
    </update>

    <sql id="pageByClientID">
        SELECT p.*
        FROM purchase_order p
        <if test="clientID != null">
            WHERE p.client_id = #{clientID}
        </if>
    </sql>

    <select id="pageByClientID" resultType="org.jeecg.modules.business.entity.PurchaseOrder">
        <include refid="pageByClientID"/>
        LIMIT #{offset}, #{size}
    </select>

    <select id="countTotal" resultType="long">
        SELECT COUNT(*)
        FROM (<include refid="pageByClientID"/>) t
    </select>

    <select id="lastInvoiceNumber" resultType="java.lang.String">
        SELECT invoice_number
        FROM purchase_order
        WHERE MONTH(create_time) = MONTH(CURRENT_DATE())
          AND YEAR(create_time) = YEAR(CURRENT_DATE())
          AND invoice_number LIKE '%%%%-%%-1%%%'
        ORDER BY create_time DESC
        LIMIT 1
    </select>
    <select id="selectPaymentDocument" resultType="java.lang.String">
        SELECT payment_document
        FROM purchase_order
        WHERE id = #{purchaseID}
    </select>
    <select id="getInvoiceNumber" resultType="java.lang.String">
        SELECT invoice_number
        FROM purchase_order
        WHERE id = #{purchaseID}
    </select>
    <select id="getPurchaseFeesByInvoiceCode" resultType="java.math.BigDecimal">
        SELECT final_amount
        FROM purchase_order
        WHERE invoice_number = #{invoiceCode};
    </select>
    <delete id="deleteInvoice">
        DELETE
        FROM purchase_order
        WHERE invoice_number = #{invoiceNumber}
            AND purchase_order.client_id = #{clientId}
    </delete>
    <delete id="deleteBatchInvoice">
        DELETE
        FROM purchase_order
        WHERE invoice_number IN
        <foreach collection="invoiceNumbers" item="invoiceNumber" index="index" open="(" separator="," close=")">
            #{invoiceNumber}
        </foreach>
    </delete>
    <select id="getInvoiceId" resultType="java.lang.String">
        SELECT id
        FROM purchase_order
        WHERE invoice_number = #{invoiceNumber}
    </select>
    <select id="getPurchaseByInvoiceNumber" resultType="org.jeecg.modules.business.entity.PurchaseOrder">
        SELECT *
        FROM purchase_order
        WHERE invoice_number = #{invoiceNumber}
        ORDER BY create_time DESC
        LIMIT 1;
    </select>
    <select id="getPurchasesByInvoiceNumber" resultType="org.jeecg.modules.business.entity.PurchaseOrder">
        SELECT *
        FROM purchase_order
        WHERE invoice_number = #{invoiceNumber}
    </select>
    <select id="getPlatformOrder" resultType="org.jeecg.modules.business.entity.PlatformOrder">
        SELECT *
        FROM platform_order
        WHERE shipping_invoice_number = #{invoiceNumber}
    </select>
    <select id="getSkuQuantityByInvoiceNumber" resultType="org.jeecg.modules.business.vo.SkuQuantity">
        SELECT pos.sku_id AS ID, sku.erp_code AS erp_code, SUM(pos.quantity) AS quantity
        FROM purchase_order po
            JOIN purchase_order_sku pos
                ON po.id = pos.purchase_order_id
            JOIN sku
                ON pos.sku_id = sku.id
        WHERE po.invoice_number = #{invoiceNumber}
        GROUP BY pos.sku_id;

    </select>
    <select id="getMetaDataFromInvoiceNumbers" resultType="org.jeecg.modules.business.vo.InvoiceMetaData">
        SELECT CONCAT('Invoice N°', po.invoice_number, ' (', c.invoice_entity ,')') as filename, po.invoice_number AS invoiceCode, c.invoice_entity AS invoiceEntity, c.internal_code AS internalCode, null as errorMsg
        FROM purchase_order po
        JOIN client c
            ON po.client_id = c.id
        WHERE po.invoice_number = #{invoiceNumber}
    </select>
    <select id="getPage" resultType="org.jeecg.modules.business.vo.PurchaseOrderPage">
        SELECT po.*, GROUP_CONCAT(p.platform_order_id) as platformOrderId
        FROM purchase_order po
        LEFT JOIN platform_order p
            ON p.purchase_invoice_number = po.invoice_number
        WHERE IF(#{clientId} IS NOT NULL, po.client_id = #{clientId}, true)
        GROUP BY po.id, po.create_time
        ORDER BY po.create_time DESC
        LIMIT #{size} OFFSET #{offset}
    </select>
    <select id="countPurchaseOrders" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM purchase_order
    </select>
    <update id="updatePurchaseOrderStatus">
        UPDATE purchase_order
        SET ordered = #{isOrdered}
        WHERE invoice_number = #{invoiceNumber}
    </update>
    <update id="updatePurchaseOrderGroupIds">
        UPDATE purchase_order
        SET group_id = #{groupIds}
        WHERE invoice_number = #{invoiceNumber};
    </update>
    <select id="countPurchaseInvoices" resultType="org.jeecg.modules.business.vo.InvoiceKpi">
        WITH purchaseEur AS (
            SELECT IFNULL(count(*),0) as qty, IFNULL(sum(final_amount),0) as total
            FROM purchase_order
            WHERE create_time BETWEEN #{start} AND #{end}
              AND currency_id = (SELECT id FROM currency WHERE code = 'EUR')
              AND IF(#{showAllData} = false, create_by = #{username}, true)
        ),  usdExchangeRate AS (
            SELECT rate
            FROM exchange_rates
            WHERE original_currency = 'EUR' AND target_currency = 'USD'
            ORDER BY create_time DESC LIMIT 1
        ),  purchaseUsd AS (
            SELECT IFNULL(count(*),0) as qty, IFNULL(sum(final_amount/(SELECT rate FROM usdExchangeRate)),0) as total
            FROM purchase_order
            WHERE create_time BETWEEN #{start} AND #{end}
              AND currency_id = (SELECT id FROM currency WHERE code = 'USD')
              AND IF(#{showAllData} = false, create_by = #{username}, true)
        )
        SELECT (purchaseEur.qty + purchaseUsd.qty) as qty, ROUND(purchaseEur.total + purchaseUsd.total, 2) as total
        FROM purchaseEur, usdExchangeRate, purchaseUsd
    </select>
    <update id="setPaid">
        UPDATE purchase_order
        SET paid_amount = final_amount
        WHERE invoice_number IN
            <foreach collection="invoiceNumbers" item="invoiceNumber" index="index" open="(" separator="," close=")">
                #{invoiceNumber}
            </foreach>
    </update>
    <select id="getPurchaseByInvoiceNumberAndClientId" resultType="org.jeecg.modules.business.entity.PurchaseOrder">
        SELECT *
        FROM purchase_order
        WHERE invoice_number = #{invoiceNumber}
          AND client_id = #{clientId}
    </select>
    <select id="getPurchasesByInvoices" resultType="org.jeecg.modules.business.entity.PurchaseOrder">
        SELECT *
        FROM purchase_order
        WHERE id IN
        <foreach collection="invoices" item="invoice" index="index" open="(" separator="," close=")">
            #{invoice.id}
        </foreach>
    </select>
</mapper>
