<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.PurchaseOrderContentMapper">

    <delete id="deleteByMainId" parameterType="java.lang.String">
        DELETE
        FROM purchase_order_sku
        WHERE purchase_order_id = #{mainId}    </delete>

    <select id="selectByMainId" parameterType="java.lang.String"
            resultType="org.jeecg.modules.business.entity.PurchaseOrderSku">
        SELECT *
        FROM purchase_order_sku
        WHERE purchase_order_id = #{mainId}    </select>
    <select id="selectInvoiceDataByID" resultType="org.jeecg.modules.business.domain.purchase.invoice.PurchaseInvoiceEntry">
        SELECT s.erp_code, s.en_name, pos.quantity, pos.total_amount
        FROM purchase_order_sku pos
        JOIN sku s on pos.sku_id = s.id
        WHERE purchase_order_id = #{purchaseID}
    </select>
    <select id="selectInvoicesDataByID" resultType="org.jeecg.modules.business.domain.purchase.invoice.PurchaseInvoiceEntry">
        SELECT s.erp_code, s.en_name, SUM(pos.quantity) as quantity, SUM(pos.total_amount) as total_amount
        FROM purchase_order_sku pos
        JOIN sku s on pos.sku_id = s.id
        WHERE purchase_order_id IN
        <foreach collection="purchaseIds" item="purchaseId" index="i" open="(" close=")" separator=",">
            #{purchaseId}
        </foreach>
        GROUP BY s.erp_code
    </select>

    <insert id="addAll">
        INSERT INTO purchase_order_sku(id, create_by, create_time, update_by, update_time, purchase_order_id, quantity,
        total_amount, sku_id)
        VALUES
        <foreach collection="data" item="item" index="i" open="" close="" separator=",">
            (UUID_SHORT(), #{creator}, NOW(), #{creator}, NOW(), #{purchaseID}, #{item.quantity}, #{item.totalAmount},
            #{item.skuID})
        </foreach>
    </insert>
    <delete id="deleteFromPurchaseIds">
        DELETE
        FROM purchase_order_sku
        WHERE purchase_order_id IN
        <foreach collection="purchaseIds" item="purchaseId" index="i" open="(" close=")" separator=",">
            #{purchaseId}
        </foreach>
    </delete>
</mapper>
