<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.ShippingInvoiceMapper">

    <select id="fetchShopOwnerFromInvoiceNumber" resultType="org.jeecg.modules.business.entity.Client">
        SELECT distinct c.*
        FROM client c
            JOIN shop s ON c.id = s.owner_id
            JOIN platform_order po on s.id = po.shop_id
        WHERE po.shipping_invoice_number = #{invoiceNumber} OR po.purchase_invoice_number = #{invoiceNumber};
    </select>
    <select id="fetchShippingInvoiceId" resultType="java.lang.String">
        SELECT id
        FROM shipping_invoice
        WHERE invoice_number = #{invoiceNumber}
    </select>
    <select id="fetchShippingInvoice" resultType="org.jeecg.modules.business.entity.ShippingInvoice">
        SELECT id, total_amount, discount_amount, final_amount, paid_amount, currency_id
        FROM shipping_invoice s
        WHERE s.invoice_number = #{invoiceNumber}
    </select>
    <select id="fetchPlatformOrder" resultType="org.jeecg.modules.business.entity.PlatformOrder">
        SELECT id, fret_fee, country, order_service_fee, packaging_material_fee
        FROM platform_order p
        WHERE p.shipping_invoice_number = #{invoiceNumber}
    </select>
    <select id="fetchPlatformOrderContent" resultType="org.jeecg.modules.business.entity.PlatformOrderContent">
        SELECT quantity, service_fee, vat, shipping_fee
        FROM platform_order_content p
        WHERE p.platform_order_id = #{platformOrderId}
    </select>
    <select id="fetchInvoiceCurrencyByCode" resultType="org.jeecg.modules.business.entity.Currency">
        SELECT c.id, c.code
        FROM shipping_invoice s
            JOIN currency c ON s.currency_id = c.id
        WHERE invoice_number = #{invoiceNumber}
    </select>
    <select id="countShippingInvoices" resultType="org.jeecg.modules.business.vo.InvoiceKpi">
        WITH shippingEur AS (
            SELECT IFNULL(count(*),0) as qty, IFNULL(sum(final_amount),0) as total
            FROM shipping_invoice
            WHERE create_time BETWEEN #{start} AND #{end}
                AND currency_id = (SELECT id FROM currency WHERE code = 'EUR')
                AND IF(#{showAllData} = false, create_by = #{username}, true)
        ),  usdExchangeRate AS (
            SELECT rate
            FROM exchange_rates
            WHERE original_currency = 'EUR' AND target_currency = 'USD'
                ORDER BY create_time DESC LIMIT 1
        ),  shippingUsd AS (
            SELECT IFNULL(count(*),0) as qty, IFNULL(sum(final_amount/(SELECT rate FROM usdExchangeRate)),0) as total
            FROM shipping_invoice
            WHERE create_time BETWEEN #{start} AND #{end}
                AND currency_id = (SELECT id FROM currency WHERE code = 'USD')
                AND IF(#{showAllData} = false, create_by = #{username}, true)
        )
        SELECT (shippingEur.qty + shippingUsd.qty) as qty, ROUND(shippingEur.total + shippingUsd.total, 2) as total
        FROM shippingEur, usdExchangeRate, shippingUsd
    </select>
    <update id="setPaid">
        UPDATE shipping_invoice
        SET paid_amount = final_amount
        WHERE invoice_number IN
            <foreach collection="invoiceNumbers" item="invoiceNumber" open="(" separator="," close=")">
                #{invoiceNumber}
            </foreach>
    </update>
    <select id="getClientByInvoiceNumber" resultType="org.jeecg.modules.business.entity.Client">
        SELECT c.*
        FROM client c
        JOIN shipping_invoice s ON s.client_id = c.id
        WHERE s.invoice_number = #{invoiceNumber}
    </select>
    <select id="getPackageStatusInPeriod" resultType="org.jeecg.modules.business.vo.ParcelInfos">
        WITH latest_parcel_trace_time AS (
            SELECT parcel_id, MAX(parcel_trace.create_time) AS create_time
            FROM parcel_trace
                     JOIN parcel ON parcel.id = parcel_trace.parcel_id
            WHERE parcel_trace.create_time BETWEEN DATE_SUB(CURDATE(), INTERVAL #{period} DAY) AND CURDATE()
            GROUP BY parcel_id
            ORDER BY create_time DESC
        ), latest_parcel_trace_id AS (
            SELECT parcel_trace.id
            FROM parcel_trace
                JOIN latest_parcel_trace_time
            WHERE parcel_trace.create_time = latest_parcel_trace_time.create_time
            AND parcel_trace.parcel_id = latest_parcel_trace_time.parcel_id
        )
        SELECT
            IFNULL(parcel_status.status, 'IN TRANSIT') as status,
            tracking_number as tracking_number,
            platform_order_id as platform_order_id
        FROM platform_order
            JOIN parcel ON parcel.third_bill_code = platform_order.tracking_number
            JOIN parcel_trace ON parcel_trace.parcel_id = parcel.id
            LEFT JOIN
                parcel_status ON parcel_status.name = parcel_trace.trace_status
        WHERE shipping_time BETWEEN DATE_SUB(CURDATE(), INTERVAL #{period} DAY) AND CURDATE()
          AND tracking_number IS NOT NULL
          AND erp_status IN (3,4)
          AND parcel_trace.id IN (SELECT id FROM latest_parcel_trace_id)
    </select>
    <select id="gpt">
    </select>
</mapper>