<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.ShopMapper">

    <delete id="deleteByMainId" parameterType="java.lang.String">
        DELETE
        FROM shop
        WHERE owner_id = #{mainId}    </delete>

    <select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.business.entity.Shop">
        SELECT *
        FROM shop
        WHERE owner_id = #{mainId}    </select>

    <select id="selectByClient" resultType="org.jeecg.modules.business.entity.Shop">
        SELECT shop.*
        FROM shop
        WHERE owner_id = #{clientID} AND active = '1'
    </select>
</mapper>
