<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.ShopMapper">

    <delete id="deleteByMainId" parameterType="java.lang.String">
        DELETE
        FROM shop
        WHERE owner_id = #{mainId}    </delete>

    <select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.business.entity.Shop">
        SELECT *
        FROM shop
        WHERE owner_id = #{mainId}    </select>

    <select id="selectByClient" resultType="org.jeecg.modules.business.entity.Shop">
        SELECT shop.*
        FROM shop
        WHERE owner_id = #{clientID} AND active = '1'
    </select>
    <select id="selectShopIdByClient" resultType="java.lang.String">
        SELECT shop.id
        FROM shop
        WHERE owner_id = #{clientID} AND active = '1'
    </select>
    <select id="getShopIdsByClientAndType" resultType="org.jeecg.modules.business.entity.Shop">
        SELECT s.id
        FROM shop s
        JOIN client c
            ON s.owner_id = c.id
        JOIN client_category cc
            ON c.client_category_id = cc.id
        WHERE c.id IN
              <foreach collection="clientIds" item="clientId" open="(" separator="," close=")">
                #{clientId}
              </foreach>
          AND cc.name = #{type}
    </select>
    <select id="getNameById" resultType="java.lang.String">
        SELECT name
        FROM shop
        WHERE id = #{shopId};
    </select>
    <select id="getCodeById" resultType="java.lang.String">
        SELECT erp_code
        FROM shop
        WHERE id = #{shopId};
    </select>
    <select id="listShopGroupedByClient" resultType="org.jeecg.modules.business.vo.ShopPage">
        SELECT s.erp_code as shop_code,
               c.internal_code as client_code,
               CONCAT(c.first_name, ' ' , c.surname) as client_name,
               c.currency as currency
        FROM shop s
        JOIN client c
            ON s.owner_id = c.id
        WHERE s.active = '1'
          AND c.active = '1'
    </select>
    <select id="getIdByCode" resultType="java.lang.String">
        SELECT id FROM shop
        WHERE erp_code = #{code};
    </select>
</mapper>
