<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.TransactionMapper">
    <select id="list" resultType="org.jeecg.modules.business.entity.Transaction">
        SELECT * FROM transaction;
    </select>
    <select id="listByClientId" resultType="org.jeecg.modules.business.entity.Transaction">
        SELECT *
        FROM transaction
        WHERE client_id = #{clientId}
        ORDER BY create_time;
    </select>
    <select id="listByClientIdAndCurrency" resultType="org.jeecg.modules.business.entity.Transaction">
        SELECT *
            FROM transaction
        WHERE client_id = #{clientId}
            AND currency = #{currency}
            AND YEAR(create_time) = #{year}
        ORDER BY create_time DESC;
    </select>
    <select id="getAllCurrenciesByClient" resultType="org.jeecg.modules.business.entity.Currency">
        SELECT 'EUR' AS code
        WHERE EXISTS (
            SELECT 1
            FROM transaction t
            WHERE t.client_id = #{clientId}
              AND t.currency = 'EUR'
        )
        UNION
        SELECT 'USD' AS code
        WHERE EXISTS (
            SELECT 1
            FROM transaction t
            WHERE t.client_id = #{clientId}
              AND t.currency = 'USD'
        )
        UNION
        SELECT 'GBP' AS code
        WHERE EXISTS (
            SELECT 1
            FROM transaction t
            WHERE t.client_id = #{clientId}
              AND t.currency = 'GBP'
        );
    </select>
</mapper>