<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.ngalain.mapper.NgAlainMapper">
    <select id="getDictByTable" parameterType="String"  resultType="java.util.HashMap">
		   select ${key} as 'label',${value} as 'value' from ${table}
	</select>
</mapper>