<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bomaos.theme.mapper.ThemeMapper">

    <!-- 关联查询sql -->
    <sql id="relSelect">
        SELECT a.*
        FROM sys_theme a
        <where>
            <if test="page!=null and page.pageData!=null">
                <if test="page.pageData.id != null">
                    AND a.id = #{page.pageData.id}
                </if>
                <if test="page.pageData.name != null">
                    AND a.name LIKE CONCAT('%', #{page.pageData.name}, '%')
                </if>
                <if test="page.pageData.description != null">
                    AND a.description LIKE CONCAT('%', #{page.pageData.description}, '%')
                </if>
                <if test="page.pageData.driver != null">
                    AND a.driver LIKE CONCAT('%', #{page.pageData.driver}, '%')
                </if>
                <if test="page.pageData.enable != null">
                    AND a.enable = #{page.pageData.enable}
                </if>
                <if test="page.pageData.updateDate != null">
                    AND a.update_date LIKE CONCAT('%', #{page.pageData.updateDate}, '%')
                </if>
                <if test="page.pageData.createDate != null">
                    AND a.create_date LIKE CONCAT('%', #{page.pageData.createDate}, '%')
                </if>
            </if>
        </where>
    </sql>

    <!-- 分页查询 -->
    <select id="listPage" resultType="com.bomaos.theme.entity.Theme">
        <include refid="relSelect"></include>
    </select>

    <!-- 查询全部 -->
    <select id="listAll" resultType="com.bomaos.theme.entity.Theme">
        <include refid="relSelect"></include>
    </select>

</mapper>
